html, body {
    margin: 0;
    padding: 0;
    background-color: black;
}
.landing_page{
    background-image: url("../images/tree.png");
    background-size: cover;
    background-repeat:repeat;
    height:700px;
    width:100%;
    text-align: center;

}
.cell {
    height: 30px;
    width: 30px;
    display: inline-block;

}

.cell:hover {
    opacity: .7;
    background-color: lightblue;
}

.row {
    line-height: 0;

}

#menu.active {
    position: fixed;
    height: 15%;
    width: 100%;
    right: 0;
    background-color: white;

}

#grid {
    display: inline-block;
    background-color: deepskyblue;
    width: auto;

}

.white {
    background-color: white;

}

.dirt {
    background-image: url("../images/dirt.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.grass {
    background-image: url("../images/grass.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.rock {
    background-image: url("../images/rock.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.leaf {
    background-image: url("../images/leaf.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.tree {
    background-image: url("../images/tree.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#axe {
    background-image: url("../images/axe.png");
}

#pickaxe {
    background-image: url("../images/pickaxe.png");

}

#shovel {
    background-image: url("../images/shovel.png");

}

.tool {
    height: 100%;
    width: 100%;
    display: inline-block;
    border-radius: 5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

#axe, #shovel, #pickaxe {
    background-size: contain;
    background-color: whitesmoke;
}

.selected {
    border: 5px solid blue;
    box-sizing: border-box;

}

.wrongTool {
    border: 8px solid red;
    box-sizing: border-box;
}

.toolContainer {
    height: 100%;
    width: 65%;
    display: block;
    background-color: black;
    vertical-align: top;
    border: 5px solid black;
}

.counter {
    margin: 0;
    color: white;
    font-size: 350%;
    cursor: pointer;

}

.bigToolContainer {
    width: 10%;
    height: 70%;
    text-align: center;
    position: absolute;
    top: 2%;

}

.miniMapCell {
    height: 5px;
    width: 5px;
    display: inline-block;
}

#miniMap {
    display: inline-block;
    background-color: deepskyblue;
    width: auto;
    white-space: nowrap;
    position: fixed;
    margin-left: 15%;
    top: 4%;
    border: 10px solid blue;
    border-radius: 10px;

}

#gridContainer {
    border: 10px solid blue;
    border-radius: 10px;
    bottom: 0;
    position: absolute;
    width: 90%;
    overflow-x: scroll;
    white-space: nowrap;
    overflow-y: hidden;
    margin-left: 8%;
}

.scroll{
    height:50%;
    width:2%;
    background-color: gray;
    vertical-align: middle;
    box-sizing: border-box;
    border:1px solid white;
    border-radius: 5px;
    top: 35%;
    opacity: .5;


}

.scroll:hover{
    border: 3px solid white;
    opacity:1;

}

#scrollLeft{
    left:119px;
    position: fixed;

}

#scrollRight{
    right:15px;
    position:fixed;
    display:inline-block;
}

#gridContainer{
    display:none;
}

#menu{
    display:none;
}

.btn{
    background-color: darkgray;
    text-align:center;
    font-size: 35px;
    margin: auto;
}

